<!-- views/home.ejs -->
<html>

<body>

    <head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
    
<div style="padding-top: 150px" class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>Manage Turbines</h1>

   

    <!-- Search FORM -->
<div id= 'home'>
        <div class="form-group">
            <p>Add a Turbine</p>
            <label>Name</label>
            <input type="text" class="form-control" name="zipcode" id="searchterm">
        </div>
        <div class="form-group">
           

        <button id  = "search9" type="searcher" class="btn btn-info btn-block">Add</button>
   
    <hr>

    <p><a href="/user">Your Turbines</a></p>
    
</div>

</div>
</div>
  <div id= 'list'>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">                    
                                <h2>Turbines</h2>
                        <hr>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <form id="turbine-form" action="/addturbine" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

</div>
</body>
</html>
<% include header.ejs %>